<div class="text-layout">
  <h1>Pipes no tan comunes</h1>
  <p>
    Pipes incluidos en angular - usualmente en el common module.
  </p>
</div>

<div class="p-grid">
  <div class="p-col-6">
    <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
      <p>Saludos {{ usuarios[indexUsuario].nombre }}, es un placer
        {{ usuarios[indexUsuario].genero | i18nSelect:invitacionMapa }}
        a nuestro evento
      </p>

      <div class="p-d-flex">
        <div class="p-mr-2">
          <p-button
            styleClass="p-button-sm p-button-outlined"
            label="Cambiar cliente"
            (onClick)="cambiarCliente()"
          >
          </p-button>
        </div>

        <div class="p-ml-auto">
          <p-button
            icon="pi pi-link"
            styleClass="p-button-sm p-button-outlined p-button-rounded p-button-help"
            (onClick)="goTo('https://angular.io/api/common/I18nSelectPipe')"
            >
          </p-button>
        </div>
      </div>

    </p-fieldset>
  </div>

  <div class="p-col-6">
    <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
      <p>Actualmente {{ clientes.length | i18nPlural:clientesMapa }} </p>
      <div class="p-d-flex">
        <div>
          <p-button
            [styleClass]="validarClientes()"
            label="Eliminar cliente"
            (onClick)="eliminarCliente()"
          >
          </p-button>
        </div>

        <div class="p-ml-auto">
          <p-button
            icon="pi pi-link"
            styleClass="p-button-sm p-button-outlined p-button-rounded p-button-help"
            (onClick)="goTo('https://angular.io/api/common/I18nPluralPipe')"
            >
          </p-button>
        </div>

      </div>
    </p-fieldset>
  </div>
</div>

<div class="p-grid">
  <div class="p-col-6">
    <p-fieldset legend="Slice Pipe" [toggleable]="true">
      <b>Original</b>
      <pre>{{ clientes }}</pre>

      <b>Slice:0:2</b>
      <pre>{{ clientes | slice:0:2 }} </pre>

      <b>Slice:1:2</b>
      <pre>{{ clientes | slice:1:2 }} </pre>

      <b>String Slice:0:3</b>
      <pre>{{ 'Juancarlos' | slice:0:3 }} </pre>

    </p-fieldset>
  </div>

  <div class="p-col-6">
    <p-fieldset legend="JsonPipe" [toggleable]="true">
      <pre>{{ heroes | json }}</pre>
    </p-fieldset>
  </div>


</div>

<div class="p-grid">
  <div class="p-col-6">
    <p-fieldset legend="KeyValuePipe" [toggleable]="true">
      <ul>
        <li *ngFor="let item of personas | keyvalue ">
          <b>{{ item.key | titlecase }}</b>: {{ item.value }}
        </li>
      </ul>
    </p-fieldset>
  </div>

  <div class="p-col-6">
    <p-fieldset legend="AsyncPipe" [toggleable]="true">
      <pre>{{ miObservable | async }}</pre>

      <pre *ngIf="!(valorPromesa | async)">Cargando promesa...</pre>
      <pre>{{ valorPromesa | async }}</pre>
    </p-fieldset>
  </div>
</div>
